.media-cards-container {
    display: flex;
    max-width: 900px;
    margin: 0 auto 2rem;
    flex-flow: row wrap;
    justify-content: center;
}
.container {
    max-width: 900px;
    margin: 0 auto;
}
.roboto {
    font-family: 'Roboto', sans-serif;
}
.nunito {
    font-family: 'Nunito', sans-serif;
}
*::-webkit-scrollbar {
    display: block;
    max-width: 7px;
}
*::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 5px;
}
body::-webkit-scrollbar {
    display: none;
}
