.form-container {
    max-width: 300px;
    margin: 10px auto;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    padding: 18px;
}
#newDegreesForm {
    text-align: right;
}

#newDegreesForm button {
    margin-top: 15px;
    margin-left: 5px;
}
.fullWidth div{
    width: 100% !important;
}
.fullWidth input{
    width: 500% !important;
}
.fullWidth button {
    margin-top: 0px !important;
}